<?xml version="1.0" encoding="utf-8" ?>
<!-- Copyright(c) Lester J. Clark and Contributors. -->
<!-- Licensed under the MIT License. -->
<!-- Module.xml -->
<!-- <include path='items/Module/*' file='../../LJCDocLib/Common/Module.xml'/> -->
<items>
  <Module>
    <summary>
      The tab composite user control.
    </summary>
    <remarks>
      These tabs display the data items and related data.
    </remarks>
  </Module>
  <ModuleA>
    <summary>
      The tab composite user control.
    </summary>
    <remarks>
      These tabs display the data items and related data.
      <include path='items/Plugin/*' file='ModulePlugin.xml'/>
    </remarks>
  </ModuleA>
  <LJCInit>
    <summary>
      Initializes the module.
    </summary>
  </LJCInit>
  <LJCTabs>
    <summary>
      Returns a reference to the module tab control.
    </summary>
    <returns>A reference to the module tab control.</returns>
  </LJCTabs>
  <ClosePage>
    <summary>
      Closes the current page.
    </summary>
    <param name="tabPage">The selected tab page.</param>
  </ClosePage>
</items>