<?xml version="1.0" encoding="utf-8"?>
<!-- App.config -->
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <appSettings>
    <add key="BeginColor" value="AliceBlue" />
    <add key="DataConfigName" value="TestData" />
    <add key="EndColor" value="LightSkyBlue" />
  </appSettings>
</configuration>
