<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <appSettings>
    <add key="BeginColor" value="AliceBlue"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
    <add key="ConnectionString" value="Data Source=DESKTOP-PDPBE34\SQL2016;Initial Catalog=LJCData;Integrated Security=True"/>
    <add key="ConnectionType" value="MySql"/>
    <add key="DataConfigName" value="TestMySql"/>
    <add key="EndColor" value="LightSkyBlue"/>
    <add key="LocalDbDataAccess" value="true"/>
    <add key="LocalDbService" value="false"/>
  </appSettings>
</configuration>
